<div>
	<div class="bg-contact2">
		<div class="containeraccount">
			<div class="wrap-contact2">
				<form class="contact2-form validate-form">
					<span class="contact2-form-title">
						Change informations
					</span>

					<div class="wrap-input2">
						<input class="input2" type="text" name="username" ng-model="username">
						<span class="focus-input2" data-placeholder="USERNAME"></span>
					</div>

					<div class="wrap-input2">
						<input class="input2" type="text" name="password" ng-model="password">
						<span class="focus-input2" data-placeholder="PASSWORD"></span>
					</div>

					<div class="container-contact2-form-btn">
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" ng-click="update()">
								Update
							</button>
						</div>
						<div class="wrap-contact2-form-btn">
							<div class="contact2-form-bgbtn"></div>
							<button class="contact2-form-btn" ng-click="deleteaccount()">
								Delete account
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>