<div id="history_ctrl">
	<div ng-repeat="history in histories">
		<div class="history_block">
			<div class="history_text" ng-click="redirect(history.text)">
				You searched: <b>{{history.query}}</b>
				<span style="float: right">{{history.date}}</span>
			</div>
			<!--<div style="padding-left:13%;">-->
				<!--<iframe ng-src="{{history.link1}}" allowfullscreen="" width="25,5%" height="175" frameborder="0" class="videos_frames"></iframe>-->
				<!--<iframe ng-src="{{history.link2}}" allowfullscreen="" width="25,5%" height="175" frameborder="0" class="videos_frames"></iframe>-->
				<!--<iframe ng-src="{{history.link3}}" allowfullscreen="" width="25,5%" height="175" frameborder="0" class="videos_frames"></iframe>-->
			<!--</div>-->
		</div>
	</div>
</div>

