<div>
	<form ng-submit="search()" id="search-form">
		<div id="search-box">
			<input id="searchtext" name="q" placeholder="What are you searching for ?" type="text" ng-model="searchtext">
			<button id="search-button" type="submit"><span>Search</span></button>
		</div>

		<!--<div id="options_search">
			<input type="checkbox" id="youtube" name="youtube"
			   value="youtube" checked ng-model="youtube"/>
			<label for="youtube">YouTube</label>&emsp;&emsp;
			<input type="checkbox" id="vimeo" name="vimeo"
			   value="vimeo" checked ng-model="vimeo"/>
			<label for="vimeo">Vimeo</label>
		</div>-->
	</form>
	
	<div id="playlists_main" ng-show="show_playlist">
		<div ng-repeat="p in playlists" ng-click="add_in_playlist(p._id)" class="liste_playlist_main">
			{{p.name}}
		</div>
		<button ng-click="hide_playlist()" style="background:grey;color:white;">Cancel</button>
	</div>
	
	<br/>
	<br/>
	<div id="banners_search">
		<img src="imgs/vimeo_banner.png" id="vimeo_banner"/>
		<img src="imgs/youtube_banner.png" id="youtube_banner"/>
	</div>

	<div id="videos_liste_home">
		<div id="liste_vimeo">
			<div ng-repeat="vimeo in vimeos" class="iframes_englober">
				<iframe ng-src="{{vimeo.trustlink}}" allowfullscreen="" width="80%" height="175" frameborder="0" class="videos_frames"></iframe>
				<button class="add_playlist" ng-click="actual_video(vimeo.link)">add</button>
			</div>
		</div>
		<div id="liste_youtube">
			<div ng-repeat="youtube in youtubes" class="iframes_englober">
				<iframe ng-src="{{youtube.trustlink}}" allowfullscreen="" width="80%" height="175" frameborder="0" class="videos_frames"></iframe>
				<button class="add_playlist" ng-click="actual_video(youtube.link)">add</button>
			</div>
		</div>
	</div>
</div>

