<div style="position:relative;">
	<div id="affichage_playlists">
		<div ng-repeat="video in videos">
			<iframe ng-src="{{video.link}}" allowfullscreen="" width="29%" height="175" frameborder="0" class="videos_frames"></iframe>       
		</div>
	</div>
	<div id="menu_playlist">
		<div id="newplaylist-box">
			<form ng-submit="newPlaylist()">
				<input id="newplaylist-text" name="newplaylist" ng-model="newplaylist" placeholder="Add a new playlist..." type="text">
				<button id="newplaylist-button" type="submit"><span>Add</span></button>
			</form>
		</div>
		<div ng-repeat="playlist in playlists" >
			<div class="playlist_list" ng-class="{playlist_selected: selected_playlist === playlist.id}" ng-click="load(playlist.id)" id="idp_{{playlist.id}}">{{playlist.name}}</div>
		</div>
	</div>
</div>